/* src/privacy/PrivacyPolicy.css */

.card {
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  
  a {
    color: #ff385c;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  